/*.root {
    -fx-background-image: url('file:src/vista/fondo5.jpg"');
	-fx-background-position: center;
    -fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-min-width: 1228px;
	-fx-min-height: 768px;
	-fx-alignment: CENTER;
}
scene.getStylesheets().add("file:src/vista/style.css");
*/
.root{
    -fx-font-size: 16pt;
   /* -fx-font-family: "Courier New";*/
}
#pantalla-principal {
	-fx-background-image: url('file:src/vista/fondo5.jpg"');
    -fx-background-size: cover;
}
#pantallas-juego {
	-fx-background-image: url('file:src/vista/fondo.jpg"');
    -fx-background-size: cover;
}
#carta{
	-fx-background-image: url('file:src/vista/carta.jpg"');
    -fx-background-size: cover;
	/*-fx-background-color: green;*/
}
#mazo-propio{
	-fx-background-image: url('file:src/vista/deck.jpg"');
    -fx-background-size: cover;
	/*-fx-background-color: green;*/
}
#mazo-fusion-propio{
	-fx-background-image: url('file:src/vista/deck2.jpg"');
    -fx-background-size: cover;
	/*-fx-background-color: green;*/
}
#carta-campo-propia{
	-fx-background-image: url('file:src/vista/campo.jpg"');
    -fx-background-size: cover;
	/*-fx-background-color: green;*/
}
#cartaMonstruo-propia{
	-fx-background-image: url('file:src/vista/monstruo.jpg"');
    -fx-background-size: cover;
	/*-fx-background-color: red;*/
}
#cartaDeUtilidad-propia{
	-fx-background-image: url('file:src/vista/utilidad.jpg"');
    -fx-background-size: cover;
	/*-fx-background-color: blue;*/
}
#datos-carta{
	/*-fx-background-color: white;*/
	-fx-max-width: 300px;
}
#texto-carta{
	/*-fx-background-color: white;*/
	-fx-max-width: 300px;
}
#carta-mano-jugador{
	-fx-color: blue;
}